@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
   }
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
   }
   

.interface {
    background-image: url('../img/interface.png');
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 10;
    background-repeat: no-repeat;
}
.social {
    background-image: url('../img/social.png');
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 10;
    background-repeat: no-repeat;
}
.mode {
    background-image: url('../img/mode.png');
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 10;
    background-repeat: no-repeat;
}
.variant-tile {
    display: inline-block;
    background-position: -71px -19px;
    width: 20px;
    height: 20px;
}
.variant-slideshow {
    display: inline-block;
    background-position: -46px -19px;
    width: 20px;
    height: 20px;
}
.variant-list {
    display: inline-block;
    background-position: -20px -19px;
    width: 20px;
    height: 20px;
}
.variant-home {
    display: inline-block;
    background-position: -229px -19px;
    width: 20px;
    height: 20px;
}


.nav-link {
    position: relative;
    padding-right: 25px;
}
.button-active, .button-light {
    position: relative;
    padding-right: 25px;
}
.socials-link {
    position: relative;
    padding-right: 25px;
}
.advantages-item {
    position: relative;
    padding-right: 25px;
}
.lodging::before {
    content: ' ';
    display: block;
    background-image: url('../img/housing.svg');
    background-size: 84px 84px;
    height: 84px;
    width: 84px;
}
.food::before {
  display: block;
  content: ' ';
  background-image: url('../img/eating.svg');
  background-size: 84px 84px;
  height: 84px;
  width: 84px;
}
.souvenirs::before {
    display: block;
    content: ' ';
    background-image: url('../img/souvenir.svg');
  background-size: 84px 84px;
  height: 84px;
  width: 84px;
}
.variant-tile::before {
    content: "";
    display: block;
    background-image:url('../img/tile.svg');
    background-position: 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top:0;
    right: 0;
}
.variant-slideshow::before {
    content: "";
    display: block;
    background-image:url('../img/slideshow.svg');
    background-position: 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top:0;
    right: 0;
}
.variant-list::before {
    content: "";
    display: block;
    background-image:url('../img/list.svg');
    background-position: 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top:0;
    right: 0;
}
.social-twitter::before {
    content: "";
    display: block;
    background-image:url('../img/service-tw.svg');
    background-position: 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top:0;
    right: 0;

}
.social-facebook::before {
    content: "";
    display: block;
    background-image:url('../img/service-fb.svg');
    background-position: 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top:0;
    right: 0;

}
.social-youtube::before {
    content: "";
    display: block;
    background-image:url('../img/service-yt.svg');
    background-position: 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top:0;
    right: 0;

}

.nav-link--search::before {
    content: "";
    display: block;
    background-image:url('../img/search.svg');
    background-position: 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top:0;
    right: 0;

}
.nav-link--heart::before {
    content: "";
    display: block;
    background-image:url('../img/heart.svg');
    background-position: 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top:0;
    right: 0;

}



  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }