@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans";
  background-color: #f2f2f2;
  min-height: 100%;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.main-index {
  flex-grow: 1;
}
header {
  position: relative;
  z-index: 10;
}
.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 72px;
}
.sedona-banner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.nav-list {
  margin: 19px 0 20px;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav-link-active {
  border-bottom: 2px solid #756257;
  padding-bottom: 20px;
}
.nav-user {
  margin: 14px 0 14px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-user .nav-item:not(.nav-item:last-child) {
  margin-right: 21px;
}
.nav-item-menu {
  margin-right: 33px;
}
.nav-item.nav-item-menu {
  line-height: 26px;
}
.nav-item:hover {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #756257;
}
.nav-item:focus {
  border: 3px solid #83b3d3;
}
.nav-link:hover {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #756257;
}
.nav-link-likeable {
  background: #756257;
  border-radius: 4px;
  color: white;
  width: 167px;
  height: 37px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.nav-link-likeable:hover {
  background: #615048;
}
.nav-link-likeable:focus {
  background: #615048;
  outline: 3px solid #83b3d3;
  outline-offset: 0;
  border-radius: 4px;
}
.nav-link-likeable:focus,
.nav-item:focus {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}
.page-container {
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 72px;
  margin-top: 31px;
  margin-bottom: 89px;
}
.pagination-list {
  height: 55px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.pagination .pagination-link {
  display: inline-block;
  min-width: 55px;
  height: 55px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  line-height: 55px;
  color: white;
  background: #83b3d3;
  margin-right: 5px;
  text-decoration: none;
}
.pagination-link.pagination-current {
  color: black;
  background: white;
}
#field-number-hotel {
  width: 160px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 23px;
  padding: 12px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 72px;
  min-height: 120px;
}
.contact-link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
.socials-items {
  list-style: none;
  padding: 0;
  display: flex;
}
.socials-item {
  margin-right: 30px;
}
.socials-item:last-child {
  margin-right: 0;
}
.catalog-fiilters-form {
  display: grid;
  grid: auto / 213px 310px 285px 248px;
}
.catalog-filter-group {
  border: 0px solid #000;
  margin: 0;
  padding: 0;
}
.catalog-filter-group.field-range {
  max-width: 290px;
}
.catalog-filter-input {
  box-sizing: border-box;
  width: 143px;
  padding: 14px;
  background: transparent;
  border: 1px solid white;
  /* color: white; */
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
.catalog-filter-title {
  color: white;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  list-style: none;
  display: grid;
  grid: repeat(3, 31px) / auto;
}
.catalog-filter-label {
  position: relative;
  width: 0;
  right: 40px;
  top: 12px;
  color: black;
  opacity: 0.3;
}
.control-input {
  /* background-color: lawngreen; */
  visibility: hidden;
}
.control-input-radio {
  visibility: hidden;
  /* display: none; */
}
.control-input + label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 4px;
  width: 16px;
  height: 16px;
  background: white;
}
.control-input:checked + label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: 7px;
  width: 14px;
  height: 14px;
  background: url(/img/tick.svg) no-repeat;
  background-position: 0 0;
  color: #3f5e72;
}
.control-input-radio + label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 3px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}
.control-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 8px;
  width: 10px;
  height: 10px;
  background-position: 0 0;
  border-radius: 50%;
  background: #3f5e72;
}

.breadcrumbs-link {
  color: white;
  text-decoration: none;
}
.buttons-filters {
  margin: 0;
  padding: 0;
  display: grid;
  /* padding-right: 0; */
  place-content: end end;
  border: transparent;
}
.welcome-splash-imaging {
  position: relative;
  width: 100%;
  height: 485px;
  background-image: url(../img/index-background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-splash-imaging::before {
  content: url(../img/divider.svg);
  height: 57px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.welcome-splash-imaging {
  margin-bottom: 63px;
}
.welcome-title {
  margin-top: 0;
  height: 100%;
  text-align: center;
  margin-bottom: 23px;
}
.welcome-description {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin-bottom: 79px;
}
/* Sorting section */
.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 50px 72px 45px;
}
.select-control {
  margin-right: -100px;
}
.buttons-group {
  display: flex;
  justify-content: space-between;
  width: 160px;
}
/* Cards in catalog */
.cards {
  margin: 0 72px;
  padding: 0;
}
.cards-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  padding-left: 0;
}
.cards-item {
  /* margin-top: 31px; */
  padding: 31px 0;
  height: 120px;
  /* margin: 20px; */
  list-style-type: none;
  display: grid;
  align-items: center;
  /* grid-template-columns: 180px 320px 1fr; */
  /* grid-template-rows: 40px 40px 40px; */
  gap: 0px 37px;
  grid:
    "a b f" 24px
    "a c ." 18px
    "a d g" 78px
    /180px 320px 1fr;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
.card-image-link {
  grid-area: a;
}
.card-title-link {
  text-decoration: none;
  grid-area: b;
}
.card-content {
  grid-area: c;
  display: grid;
  grid: 1fr/1fr 1fr;
}
.buttons-block {
  grid-area: d;
  align-self: end;
  margin-bottom: 0;
  display: grid;
  grid: 1fr/1fr 1fr;
}
.cards-item--button {
  align-self: center;
  padding: 31px 220px;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-rating-star {
  grid-area: f;
  justify-self: end;
}
.rating {
  grid-area: g;
  justify-self: end;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantage-content {
  width: 400px;
}
.advantages-item {
  width: 400px;
  height: 384px;
  margin: 0;
}
.advantages-item-image {
  display: flex;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.search-title {
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.search-description {
  margin: 0 auto;
  margin-bottom: 73px;
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.subscribe-title {
  margin: 0 auto;
  padding: 0;
  margin-top: 94px;
  margin-bottom: 15px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
}
.subscribe-description {
  margin: 0 auto;
  padding: 0;
  color: black;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding-bottom: 26px;
}
.advantage-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  position: relative;
}
.nav-link:hover {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #756257;
}
.btn-hotel {
  margin: 0 auto;
  width: 575px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  background: #756257;
  border-radius: 10px;
  color: white;
  margin-bottom: 90px;
}
.btn-submit {
  width: 200px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  color: white;
}
/* section subscribe-email */
.subscribe-email {
  height: 410px;
  display: grid;
  /* place-content: center; */
  background: url(../img/background-email.jpg);
}
.subscribe-email-input {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  padding: 14px;
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  text-indent: 22px;
}

.subscribe-form {
  margin: 0 auto;
  margin-bottom: 94px;
  width: 800px;
  /* height: 60px; */
  display: flex;
}

.catalog-filters 
/* Телефон в футере */
.contact-link {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
/* Placeholder for input */
#subscribe-email::placeholder,
#newsletter-email::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-indent: 22px;
}
/* Catalog - font */
.header-inner {
  background: url(../img/catalog-background_1.jpg) no-repeat;
  height: 408px;
  width: 100%;
}
.wrapper-filter {
  margin: 0 72px;
}
.header-inner-title {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
  padding-top: 35px;
  padding-bottom: 5px;
}
.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-bottom: 34px;
}
.control-filter-item {
  font-family: PT Sans;
  font-style: normal;
  position: relative;
  display: block;
  top: -22px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.breadcrumbs-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.breadcrumbs-link.variant-home {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: ">";
  color: white;
  margin-right: 10px;
}
.breadcrumbs-item {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
}
.button-apply {
  width: 160px;
  margin: 0;
  padding: 0;
  height: 48px;
  color: white;
  background: #83b3d3;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}

.button-reset {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  background-color: transparent;
  border: 0px solid #83b3d3;
  margin-top: 20px;
}
.button-reset:hover {
  opacity: 0.6;
}
.button-reset:focus {
  color: #ffffff;
  outline: 5px solid #83b3d3;
}
.button-reset:active {
  position: relative;
  opacity: 0.3;
  outline: 0px solid #83b3d3;
}
.sorting-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  text-transform: uppercase;
}
.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  width: 290px;
  padding: 12px;
}
.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  color: black;
}
.card-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #333333;
  margin-right: 50px;
}
.card-detailed {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: white;
  width: 150px;
  height: 38px;
  background: #756257;
  border-radius: 4px;
}
.favorites {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: white;
  width: 150px;
  height: 38px;
  background: #83b3d3;
  border-radius: 4px;
}
.favorites.active {
  background: #7db54f;
  border-radius: 4px;
}
.rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.cards-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  width: 625px;
  height: 55px;
  background: #83b3d3;
  border-radius: 4px;
  color: white;
}
.pagination-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}
.on-page {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
/* Section search-hotel */
.search-hotel {
  display: grid;
}
.newsletter {
  margin: 0 200px;
  display: grid;
  place-content: center;
  padding-bottom: 138px;
}
.newsletter-title {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}
.newsletter-form {
  display: grid;
  grid-template-columns: 600px 200px;
  height: 60px;
}
.btn-newsletter {
  flex: 200px;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  text-transform: uppercase;
  color: white;
}
.field {
  flex: 600px;
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
/* Вверху шрифты */
/* Background down */

.advantage-content {
  background: #83b3d3 no-repeat;
  background-size: 400px 384px;
}
.lodging {
  background: #83b3d31f;
}
.interface {
  background-image: url("../img/interface.png");
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10;
  background-repeat: no-repeat;
}
.social {
  background-image: url("../img/social.png");
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10;
  background-repeat: no-repeat;
}
.mode {
  background-image: url("../img/mode.png");
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10;
  background-repeat: no-repeat;
}

.variant-home {
  display: inline-block;
  background-position: -229px -19px;
  width: 20px;
  height: 20px;
}

.nav-link {
  color: black;
}
.breadcrumbs {
  margin-bottom: 45px;
}
.breadcrumbs-link {
  position: relative;
  padding-right: 25px;
}
.variant-home::before {
  content: "";
  display: inline-block;
  background-image: url("../img/home.svg");
  background-position: 0 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  /* color: white; */
  /* filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg); */
  filter: brightness(0) invert(1);
}

.button-active,
.button-light {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
}
.button-active {
  border: 2px solid #000000;
}
.socials-link {
  position: relative;
  padding-right: 25px;
}
.advantages-item-image {
  color: white;
}
.advantages-item.lodging {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-item.souvenirs {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-item.souvenirs {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-item.food {
  background: #ffffff;
}
.advantages-item {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(7) {
  background: rgba(131, 179, 211, 0.2);
}
.advantages-title {
  text-transform: uppercase;
  margin: 0;
  margin-top: 98px;
  margin-bottom: 25px;
}
.advantages-title.second {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 20px;
}
.lodging .advantages-title {
  margin-top: 25px;
}
.advantages-item {
  text-align: center;
  position: relative;
}
.advantages-description {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 77px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}
.advantages-item-image .advantages-description {
  color: white;
}
.advantages-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: white;
}
.advantages-item .advantages-number {
  color: #333333;
}
.lodging::before {
  content: "";
  display: inline-block;
  background-image: url("../img/housing.svg");
  background-size: 84px 84px;
  height: 84px;
  width: 84px;
  margin-top: 79px;
}
.food::before {
  display: inline-block;
  content: "";
  background-image: url("../img/eating.svg");
  background-size: 84px 84px;
  height: 84px;
  width: 84px;
  margin-top: 79px;
}
.souvenirs::before {
  display: inline-block;
  content: "";
  background-image: url("../img/souvenir.svg");
  background-size: 84px 84px;
  height: 84px;
  width: 84px;
  margin-top: 79px;
}

.social-twitter::before {
  content: "";
  display: block;
  background-image: url("../img/service-tw.svg");
  background-position: 0 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.social-facebook::before {
  content: "";
  display: block;
  background-image: url("../img/service-fb.svg");
  background-position: 0 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.social-youtube::before {
  content: "";
  display: block;
  background-image: url("../img/service-yt.svg");
  background-position: 0 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-link--search::before {
  content: "";
  display: block;
  background-image: url("../img/search.svg");
  background-position: 0 0;
  width: 18px;
  height: 18px;
  position: relative;
}

.nav-link--heart::before {
  content: "";
  display: block;
  background-image: url("../img/heart.svg");
  background-position: 0 0;
  width: 18px;
  height: 19px;
  position: relative;
}
.nav-link--heart::after {
  content: "12";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 13px;
  letter-spacing: -0.1em;
  width: 19px;
  height: 19px;
  background: #7db54f;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -31px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Experiment with controls */

.range-controls {
  display: grid;
  position: relative;
  padding-top: 32px;
  border-radius: 5px;
  width: 287px;
}
.price-controls {
  display: flex;
}
.range-controls .scale {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 227px;
  height: 4px;
  background-color: rgba(255, 255, 255);
}

.range-controls .toggle {
  position: absolute;
  top: 24px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 227px;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: none;
}
.modal {
  padding: 0;
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  width: 715px;
  height: 561px;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.modal-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  /* or 133% */
  text-transform: uppercase;
}
.modal-content {
  padding: 0;
  grid-column: span 4;
  display: grid;
  display: inherit;
  grid: min-content/155px 425px;
  align-items: center;
}
.modal-search-form {
  padding: 55px;
  /* height: 560px; */
  display: grid;
  /* grid:min-content/155px 265px 135px; */
  grid: min-content/155px 135px 155px 135px;
}
input[type="button"] {
  grid-column: span 4;
  height: 60px;
  background: #83b3d3;
  border-radius: 10px;
}
.output {
  grid-column: 2;
}
.thing {
  grid-column: span 2;
  display: grid;
  grid: min-content/155px 133px 115px 40px 133px;
  align-items: center;
}
.modal-title {
  grid-column: span 3;
  /*   text-align: right; */
  align-self: center;
  justify-self: start;
}
.input-form-search {
  font: 1em sans-serif;
  padding: 13px;
  width: 100%;
  box-sizing: border-box;
}
.children {
  place-self: center end;
}
.btn-children {
  place-self: center;
}
.label-search-modal {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}
.label-search-modal:last-child {
  place-self: center end;
  background: red;
  color: red;
}
.modal-close-button,
.btn-children {
  border: none;
}
.btn-search-form {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.nav-popover {
  position: relative;
}
/* popover */
.popover-card {
  position: absolute;
  left: -200px;
  top: 38px;
  width: 400px;
  height: 232px;
  display: grid;
  grid: 86px 86px 60px/75px minmax(min-content, 1fr) 48px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  display: none;
}
.popover-item {
  border: 1px solid #000;
  grid-column: span 3;
  display: grid;
  grid: inherit;
}

.popup-content {
  margin-left: 25px;
  align-self: center;
  display: grid;
  grid: min-content min-content/ auto;
}
.hotel-image {
  margin: auto 0 auto auto;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.popover-btn {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #756257;
  color: white;
  height: 60px;
}
.hotel-name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.hotel-type {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.basket {
  margin: auto auto;
  height: 20px;
  width: 20px;
}
.popover-card:after {
  content: " ";
  position: absolute;
  right: calc(50% - 20px);
  top: -10px;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
}
